.navmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navmenu__mediumlayer {
  display: flex;
}
.navmenu__upcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navmenu__leftlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.navmenu__rightlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.navmenu__down {
  display: flex;
  flex-direction: column;
}
